* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  scroll-behavior: smooth;
}

html {
  /* font-size: 10px; */
}

body {
  margin: 0 auto;
  background: rgb(68, 133, 255);
}

.container {
  max-width: 80rem;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

main {
  width: 100%;
}

.slider__wrapper {
  width: 80%;
  height: 31.25rem;
  margin: 0 auto;
  background: rgb(21, 53, 238);
  border-radius: 0.625rem;
  overflow: hidden;
}

input {
  display: none;
}

.nav {
  width: 30%;
  float: right;
  text-align: right;
  padding-right: 1rem;
}

.nav-btn {
  /* padding: 0.5rem; */
  display: inline-block;
  cursor: pointer;
}

.label-dot {
  width: 1rem;
  height: 1rem;
  margin: 0.625rem 0.5rem;
  display: inline-block;
  background-color: #97d0f7;
  border: 0.125rem solid #97d0f7;
  border-radius: 100%;
}

.nav-btn:hover .label-dot {
  background-color: white;
  border-color: white;
}

#slide1:checked ~ .nav label[for='slide1'] > .label-dot,
#slide2:checked ~ .nav label[for='slide2'] > .label-dot,
#slide3:checked ~ .nav label[for='slide3'] > .label-dot,
#slide4:checked ~ .nav label[for='slide4'] > .label-dot {
  background-color: transparent;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

ul {
  width: 100%;
  /* height: 10%; */
  margin: 0 auto;
  list-style: none;
  white-space: nowrap;
}

.slides__img {
  width: 100%;
  height: 80%;
}

ul > li {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 0.625rem;
  font-size: 1.25rem;
  color: aliceblue;
  transition: all 0.5s ease-in-out;
}

.slides__text {
  width: 70%;
  display: inline-block;
  overflow: hidden;
}

.slides__text > li {
  white-space: normal;
  vertical-align: top;
}

#slide1:checked ~ ul li:first-of-type {
  margin-left: 0%;
}

#slide2:checked ~ ul li:first-of-type {
  margin-left: -100%;
}

#slide3:checked ~ ul li:first-of-type {
  margin-left: -200%;
}

#slide4:checked ~ ul li:first-of-type {
  margin-left: -300%;
}

a {
  text-decoration: none;
  color: antiquewhite;
}
