* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

body {
  margin: 0 auto;
  background: rgb(68, 133, 255);
}

.container {
  max-width: 128rem;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.slider__wrapper {
  width: 90rem;
  height: 50rem;
  /* padding: 4rem; */
  background: rgb(21, 53, 238);
  border-radius: 10px;
  overflow: hidden;
}

input {
  display: none;
}

.nav {
  float: right;
}

.nav-btn {
  padding: 0.5rem;
  cursor: pointer;
}

.label-dot {
  width: 1.6rem;
  height: 1.6rem;
  margin: 2rem 0.8rem;
  display: inline-block;
  background-color: #97d0f7;
  border: 2px solid #97d0f7;
  border-radius: 100%;
}

.nav-btn:hover .label-dot {
  background-color: white;
  border-color: white;
}

#slide1:checked ~ .nav label[for='slide1'] > .label-dot,
#slide2:checked ~ .nav label[for='slide2'] > .label-dot,
#slide3:checked ~ .nav label[for='slide3'] > .label-dot,
#slide4:checked ~ .nav label[for='slide4'] > .label-dot {
  background-color: transparent;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

ul {
  width: 100%;
  height: 10%;
  margin: 0 auto;
  list-style: none;
  white-space: nowrap;
}

.slides__img {
  width: 100%;
  height: 80%;
}

ul > li {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 1rem;
  font-size: 2rem;
  color: aliceblue;
  transition: all 0.5s ease-in-out;
}

.slides__text {
  width: 80%;
  display: inline-block;
  overflow: hidden;
}

#slide1:checked ~ ul li:first-of-type {
  margin-left: 0%;
}

#slide2:checked ~ ul li:first-of-type {
  margin-left: -100%;
}

#slide3:checked ~ ul li:first-of-type {
  margin-left: -200%;
}

#slide4:checked ~ ul li:first-of-type {
  margin-left: -300%;
}
